name: Build & Push Algo Image

on:
  push:
    branches: ["main"]
  workflow_dispatch: {}

jobs:
  build_push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4


      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build + Push (latest)
        run: |
          docker compose build
          docker compose push
